.sidebarchannel:hover > h4{ 
    color:rgb(177, 177, 177);
    background-color: #3a3d42;
    cursor: pointer;
}

.sidebarchannel > h4{ 
    display: flex;
    padding: 2px;
    padding-left: 15px;
    align-items: center;
    color:gray;
    font-size: 16px;
    font-family: 'koblenz-serial-bold', sans-serif;
    
}
.sidebarchannel-hash{
    font-size: 23px;
    padding-right: 5px;
}